# dependencies
node_modules
/.pnp
.pnp.*

# build outputs
dist
build
.vite

# testing
/coverage

# Wrangler / Cloudflare
.wrangler
.dev.vars

# misc
.DS_Store
*.pem
.idea
.vscode/*
!.vscode/extensions.json

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# env (no committeamos)
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo
